<% @contestants.each do |contestant| %>
<div id="contestant-section-<%= contestant.id %>" >
    <h4>Name: <%= link_to "#{contestant.name}", "/contestants/#{contestant.id}"%></h4>
    <p>Age: <%= contestant.age %></p>
    <p>Hometown: <%= contestant.hometown %></p>
    <% end %>
  </div>

<p><%= @bachelorette.name %>'s Contestants are from these hometowns: 
  <ul><% @contestants.hometowns_by_season.each do |town| %>
    <li><%= town %></li>
  </ul>
    <% end %></p>

